<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FoodShare</title>

    <!-- Bootstrap core CSS -->
    <link href="static/food_app/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/food_app/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="static/food_app/css/agency.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">

      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Love Food, Hate Waste</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/about_suppliers">Suppliers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/about_volunteers">Volunteers</a>
            </li>
           <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/about_shelters">Shelters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/about_team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/contact_us">Contact</a>
            </li>
          </ul>
        </div>
    </nav>

       

    <!-- Header -->    <!-- Sign in & Registration -->
  <header id="aboutHeader" class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">One in six Americans goes hungry everyday</div>
          <div class="intro-heading text-uppercase">Our Vision</div>
        </div>
      </div>

 <!-- Flash Messages -->

        {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      {{ message }}
    </div>
      {% endfor %}

      </div>
    </nav>
      
    </header>
    
    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-1">
            </div>
              <div class="col-10">
                <h2 class="section-heading text-uppercase">How Does FoodShare Work?</h2>
                <h3 class="section-subheading text-muted">We easily manage to flow of available food to where it's needed the most.</h3>
              </div>
            <div class="col-1">
          </div>
        </div>
      <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="static/food_app/img/strawberry.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4><span class="title">FIRST</span></h4>
                    <h4 class="subheading">Food Items Become Available</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">When a supplier such as a restaurant or a caterer has extra food they sign into FoodShare to let us know. This could be perishable or non-perishable food in any amount.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="static/food_app/img/car.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4><span class="title">SECOND</span></h4>
                    <h4 class="subheading">Volunteers Arrange Pick Up</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">One of the amazing volunteers we work with goes to the supplier to pick up food and save it from becoming unnecessary waste. They deliver it to one of the food banks in our system.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="static/food_app/img/bowl.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4><span class="title">THIRD</span></h4>
                    <h4 class="subheading">Food Banks Receive New Inventory</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Food Banks in our system are have their inventory automatically tracked. When a Food Bank is running low they are moved to the front of the line so can receive items from a volunteer when they need it the most.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Be Part
                    <br>Of Our
                    <br>Story!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-2">
            </div>
              <div class="col-8">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
              </div>
            <div class="col-2">
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            </div>
              <div class="col-8">
                <h3 class="section-subheading text-muted">Saving thousands of food items every week</h3>
              </div>
            <div class="col-2">
          </div>
        </div>
      <div class="row">
        <div class="col-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="static/food_app/img/ipsita_face.jpg" alt="">
              <h4>Founder</h4>
              <p class="text-muted">Ipsita Aggarwal</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        <div class="col-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="static/food_app/img/nishi_face.jpg" alt="">
              <h4>Director</h4>
              <p class="text-muted">Nishi Roy</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        <div class="col-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="static/food_app/img/amy.jpg" alt="">
              <h4>Principal</h4>
              <p class="text-muted">Amy Ramsay</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">Our vision is creating thousands of food sharing networks all around the world. We believe FoodShare can help create a world in which nothing of value goes to waste and every single person has enough to eat - without destroying our planet in the process.</p>
          </div>
        </div>
      </div>
    </section>

     <!-- Go Home/Logout -->
    <section class="map">
      <div class="container">        
        <div class="row">
          <div class="col-lg-12">
              <div class="row">
                <div class="col-3">
                </div>
                <div class="col-md-6">
                  <form action="/home" method="POST">
                    {% csrf_token %}
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Return Home</button>
                </form>
                <form action="/logout" method="POST">
                  {% csrf_token %}
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Logout</button>
                </form>
                <div class="col-3">
                </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; FoodSafe 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/food_app/vendor/jquery/jquery.min.js"></script>
    <script src="static/food_app/vendor/jquery/jquery.js"></script>
    <script src="static/food_app/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="static/food_app/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="static/food_app/js/jqBootstrapValidation.js"></script>
    <script src="static/food_app/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/food_app/js/agency.min.js"></script>

  </body>

</html>
